body {
  height: 100%;
  margin: 0;
}

.site-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #aaaaaa;
}

#drum-machine {
  display: flex;
  height: 300px;
  width: 600px;
  border: 1px solid white;
  align-items: center;
  justify-content: center;
  background-color: #4f5f76;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.drums {
  display: grid;
  grid-template-rows: 60px 60px 60px;
  grid-template-columns: 60px 60px 60px;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  float: left;
}

.drum-pad {
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #666ee8;
  color: #fff;
  font-size: 20px;
  font-weight: 900;
  border-radius: 10px;
}

.controls {
  height: 200px;
  width: 200px;
  float: right;
  border: 1px solid;
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #081b30;
}

.sound-name {
  margin-top: 20px;
  display: flex;
  height: 40px;
  width: 110px;
  background-color: grey;
  justify-content: center;
  align-items: center;
  background-color: black;
  border: 1px solid #666ee8;
  color: white;
  font-family: sans-serif;
}

/* styles for switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #666ee8;
}

input:focus + .slider {
  box-shadow: 0 0 1px #666ee8;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
